<footer class="text-bg-dark">
  <section class="color-grey p-5">
    <div>
      <div class="row">
        <div class="col-md-4">
          <div class="inner text-center">
            <h3>LOCATION</h3>
            <h5>2215 John Daniel Drive</h5>
            <span>Clark, MO 65243</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="inner text-center">
            <h3>AROUND THE WEB</h3>
            <div class="icons d-flex justify-content-center align-items-center">
              <div class="rounded solid text-center mx-3">
                <i class="fa-brands fa-facebook text-light border-1"></i>
              </div>
              <div class="rounded border-1 border-secondary mx-3">
                <i class="fa-brands fa-linkedin text-light border-1"></i>
              </div>
              <div class="rounded border-1 mx-3">
                <i class="fa-brands fa-twitter text-light border-1"></i>
              </div>
              <div class="rounded border-1 mx-3">
                <i class="fa-solid fa-globe text-light border-1"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="inner text-center">
            <h3>ABOUT FREELANCER</h3>

            <span
              >Freelance is a free to use, licensed Bootstrap theme created by
              Route</span
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="text-center p-3 color-dark-blue">
      <h6>Copyright © Your Website 2021</h6>
    </div>
  </section>
</footer>
