.about {
  background-color: #9f5255;
}
.title-line {
  position: relative;
}

.title-line::before {
  content: "";
  position: absolute;
  background-color: #fff;
  bottom: 10px;
  height: 4px;
  width: 80px;
  right: 42%;
}
.title-line::after {
  content: "";
  position: absolute;
  background-color: #fff;
  bottom: 10px;
  height: 4px;
  width: 80px;
  left: 42%;
}
.p-50 {
  padding-block: 13%;
  padding-inline: 10%;
}
.c-beige {
  color: #f39e60;
}
