<section class="about">
  <div
    class="d-flex justify-content-center flex-column align-content-center p-50"
  >
    <h1 class="text-center text-uppercase p-2 fw-bold text-light">
      About component
    </h1>
    <div class="text-center text-light title-line">
      <i class="fa-solid fa-star"></i>
    </div>

    <div class="row m-4">
      <div class="col-md-6 text-light">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
      <div class="col-md-6 text-light">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    </div>
  </div>
</section>
