<section>
  <nav class="navbar navbar-expand-lg bg-dark p-4">
    <div class="container">
      <a
        class="navbar-brand text-uppercase text-light fw-bold fs-3"
        routerLink="home"
        >Start Framework</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto text-uppercase fs-6 fw-semibold">
          <li class="nav-item">
            <a
              class="nav-link text-light"
              routerLink="About"
              routerLinkActive="bg-danger rounded"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-light"
              routerLink="portfolio"
              routerLinkActive="bg-danger rounded"
              >Portfolio</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-light"
              routerLink="Contact"
              routerLinkActive="bg-danger rounded"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>
